@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Open+Sans+Condensed:ital,wght@1,300&display=swap");
.signOut {
  font-family: "Open Sans", sans-serif;
}
.signOut__Btn {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}
.signOut__Btn .MuiButtonBase-root {
  color: white;
}
